@charset "UTF-8";


body{
	font-size:small;
	
}
div{
/* 	padding:5px;
	border:1px solid red; */
	box-sizing:border-box;
}

div.container {
    padding:10px;
    width:700px;
}

.container > footer{
	position:relative;
	font-size: 80%;
}

.container > footer > #app-name{
	position : absolute;
	left:0px;
	top:0px;
}
.container > footer > a{
    position : absolute;
    left:0px;
    top:0px;
}

.container > footer > #copyright{
    position : absolute;
    right:0px;
    top: 0px;
}

