img {
    height: 25px;
    width: 25px;
}

 header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60px;
    border: 1px solid white;
    position: fixed;
    background-image: url("../../images/bg-01-gradation.png")
    
} 

#jangter {
    background-image: url('../../images/bg-01.jpg');
    opacity: 0.8;
}

#h-div {
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

header #logo {
    margin-top: 15px;
    height: 30px;
    width: 30px;
    flex: 0 0 30px;
}

header #sbi {
    margin-top: 10px;
    width: 500px;
    flex: 0 0 500px;
}

header #hRight {
    margin-top: 15px;
    width: 350px;
    flex: 0 0 350px;
}

#my-page, #logout {
    border: none;
    background-color: white;
    border-radius: 15px;
    box-shadow: none;
    cursor: pointer;
    height: 30px;
}

#my-page-p, #logout-p {
    background: -webkit-linear-gradient(left, rgba(0, 168, 255, 0.5),
        rgba(185, 0, 255, 0.5));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 15px;
    font-weight: bold;
}

#search {
    width: 460px;
    height: 30px;
    border: 1px solid white;
}


























