<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="trade.assignment.repository.BoardRepository">

	<resultMap type="Board" id="BoardMap">
		<id column="bno" property="no" />
		<result column="writ" property="writer" />
		<result column="titl" property="title" />
		<result column="cont" property="content" />
		<result column="cdt" property="createdate" />
		<result column="photo" property="photo" />
	</resultMap>

	<select id="findByPageAndSize" resultMap="BoardMap"
		parameterType="map">
		select
		BNO,
		TITL,
		WRIT,
		CDT,
		CONT,
		PHOTO
		from P2_BOARD
		<if test="startIndex != null and pageSize != null">
			limit #{startIndex}, #{pageSize}
		</if>
	</select>
	
	<select id="selectOne" resultMap="BoardMap" parameterType="int">
		select
		BNO,
		WRIT,
		TITL,
		CONT,
		PHOTO
		from P2_BOARD
		where BNO = #{value}
	</select>

	<update id="update" parameterType="Board">
		update P2_BOARD set
		  TITL=#{title},
		  CONT=#{content},
		  PHOTO=#{photo}
		where BNO=#{no}
	</update>
	
	<delete id="delete" parameterType="int">
        delete from P2_BOARD 
        where BNO=#{value}
    </delete>

	<insert id="insert" parameterType="Board">
		insert into P2_BOARD(
		BNO,
		WRIT,
		TITL,
		CONT,
		CDT,
		PHOTO)
		values(#{no},
		#{writer},
		#{title},
		#{content},
		now(),
		#{photo})
	</insert>
	
	<select id="countAll" resultType="int">
		select
		count(*)
		from P2_BOARD
	</select>
</mapper>