<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="trade.assignment.repository.PhotoRepository">

    <resultMap type="Photo" id="PhotoMap">
        <id column="pid" property="no" />
        <result column="url" property="url" />
        <result column="rdt" property="regdate" />
    </resultMap>

    <insert id="insert" parameterType="Photo">
        insert into N1_PHOTO(
          PID,
          URL,
          RDT)
        values(#{id},#{url},#{regdate})
    </insert>
</mapper>