@charset "UTF-8";

body {
    background: -webkit-linear-gradient(left, rgba(0, 168, 255, 0.5),
        rgba(185, 0, 255, 0.5));
}

div.container {
    width: 800px;
    font-size: small;
}

#top {
    overflow: hidden;
    height: 182px;
    margin-top: 30px;
}

#bottom {
    overflow: hidden;
    border: 1px solid white;
    margin-top: 11px;
}

#profile-l {
    float: left;
    width: 152px;
    height: 172px;
    text-align: center;
    margin-left: 95px;
    margin-top: 6px;

}

#profile-r {
    float: left;
    height: 152px;
    margin: 10px 20px;
}

#profile-r>h3{
    margin: 15px 0px 35px 10px;
}

#profile-img {
    width: 132px;
    height: 132px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 3px;
}

span {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 15px;
}

#zzim-l {
    float: left;
    width: 20%;
    padding: 10px;
    text-align: center;
}

#zzim-r {
    float: left;
    width: 80%;
    border-left: 1px solid white;
    min-height: 500px;
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
}

#bottom h6{
    font-weight: bolder;
}

.product {
    list-style: none;
    border: 1px solid white;
    width: 270px;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    overflow: hidden;

}

.detail h6{
	margin-top: 15px;
	
}

.product>button {
    float: right;
}

.btn-x-right {
    text-align: right;
}

/* ---------img--------- */
.product-img {
    width: 100%;
    height: 268px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;

}

.detail:hover .product-img {
    opacity: 0.8;
}

.btn-x-right > button{
    border: 0;
    outline: 0;
    background: transparent;
    cursor: pointer;
    padding: 0;
}

.btn-x-right img{
    padding: 5px;
}

.btn-x-right img:hover {
    background-color: black;
}